{% extends 'base.html.twig' %}

{% block title %}
	Toutes les catégories
{% endblock %}

{% block body %}
	<a
		href="{{ path('category_new') }}" class="btn btn-primary">
		ADD
	</a>
	<table
		class="table">
		<thead>
			<tr>
				<th
					scope="col">
					#
				</th>
				<th
					scope="col">
					Name
				</th>
				<th
					scope="col">
					Slug
				</th>
				<th
					scope="col">
					Options
				</th>
			</tr>
		</thead>
		<tbody>
			{% for category in categories %}
				<tr>
					<th
						scope="row">
						{{ category.id }}
					</th>
					<td>
						{{ category.name }}
					</td>
					<td>
						{{ category.slug }}
					</td>
					<td>
						EDTI DEL
					</td>
				</tr>
			{% else %}
				<tr>
					<td
						colspan="4">
						Aucune catégorie
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
